<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Lt_kutkaitis_pamokutvarkarastis.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>lt.kutkaitis.pamokutvarkarastis.server.ExcelReaderServiceImpl</servlet-class>
	</servlet>
	<!-- servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>lt.kutkaitis.pamokutvarkarastis.server.TeachersSheetReading</servlet-class>
	</servlet-->


	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/lt_kutkaitis_pamokutvarkarastis/excelReaderService</url-pattern>
	</servlet-mapping>
	<!--  servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/lt_kutkaitis_pamokutvarkarastis/teachersSheetReadingService</url-pattern>
	</servlet-mapping-->

</web-app>
